[submodule "unittests/third-party/doctest"]
	path = unittests/third-party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "lib/third-party/cereal"]
	path = lib/third-party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "lib/LayoutBackends/XkbSwitch/third-party/xkb-switch"]
	path = lib/LayoutBackends/XkbSwitch/third-party/xkb-switch
	url = https://github.com/grwlf/xkb-switch.git
[submodule "lib/third-party/spdlog"]
	path = lib/third-party/spdlog
	url = https://github.com/gabime/spdlog.git
